<!-- Loading Third Party Scripts -->

<script src="../dist/vendor/jquery/jquery.min.js"></script>
<script src="../dist/vendor/easing/js/jquery.easings.min.js"></script>
<script src="../dist/vendor/bootstrap/js/bootstrap.min.js"></script>	
<!-- <script src="../dist/vendor/nivo-lightbox/js/nivo-lightbox.min.js"></script> -->
<!-- <script src="../dist/vendor/owl/js/owl.carousel.js"></script> -->
<script src="../dist/vendor/isotope/js/isotope.pkgd.min.js"></script> 
<!-- <script src="../dist/vendor/counter-up/js/jquery.counterup.min.js"></script> -->
<!-- <script src="../dist/vendor/form-validation/js/formValidation.js"></script> -->
<!-- <script src="../dist/vendor/form-validation/js/framework/bootstrap.min.js"></script> -->
<script src="../dist/vendor/waypoint/js/waypoints.min.js"></script>
<script src="../dist/vendor/wow/js/wow.min.js"></script>
<script src="../dist/vendor/smooth-scroll/js/smoothScroll.js"></script>
<!-- <script src="../dist/vendor/jquery-parallax/js/jquery.parallax.js"></script> -->
<!-- <script src="../dist/vendor/jquery-parallax/js/jquery.localscroll.min.js"></script> -->
<script src="../dist/vendor/jquery-parallax/js/jquery.scrollTo.js"></script>    

<!-- Loading Theme's Scripts -->
